.beerSection {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}
.beerHeading {
text-align: center;
margin-top: 7vh;
color: white;
font-size: 5em;
margin: 0 auto;

text-transform: uppercase;
font-family: 'Bebas Neue', cursive;


}