.beerSection {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 60vw;
}

.beerHeading {
  text-align: center;
  margin-top: 7vh;
  color: white;
  font-size: 5em;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
}

.cardContainer {
  margin: 0 auto;
  margin-top: 3vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 45vw;
  height: 10vh;
}