@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.navList {
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  background-color: #2C2624;
}

.navItem {
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  color: white;
  font-family: "Bebas Neue", cursive;
}

.heading {
  color: white;
  list-style: none;
  opacity: initial;
  font-size: 3.4em;
  margin: 0 auto;
  width: 30vw;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
}