@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.navList {
  margin: 0 auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  background-color: #2C2624;
  text-align: center;
}

.navItem {
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2em;
  color: #bebcbc;
  font-family: "Bebas Neue", cursive;
}

.heading {
  justify-content: center;
  color: white;
  list-style: none;
  font-size: 3em;
  margin: 0 auto;
  width: 25vw;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
}