.card {
    margin: 0 auto;
    margin-top: 10vh;
    margin-left: 2vw;
    padding: 2vh;
    width: 20vw;
    height: 65vh;
    border: none;
    background-color: #42454A;
    color: white;
    display: flex;
    flex-direction: column;
    outline: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .card__image {
        margin: 0 auto;
        padding: 0px;
        width: 4vw;
        height: 30vh;
        align-self: center;
        background-color: transparent;
    }
    .card__title {
        margin: 0 auto;
        margin-top: 2vh;
        margin-bottom: 2vh;
        font-size: 2.5em;
        width: 20vw;
        height: 15vh;
        color: white;
        text-transform: uppercase;  
        background-color: transparent;
    }
    .card__subtitle {
        margin: 0 auto;
        margin-top: 3vh;
        font-size: 1em;
        color: white;
        text-transform: uppercase;  
        background-color: transparent;
    }
    .card__description {
        width: 20vw;
        height: 20vh;
        font-size: 1em;
        color: #808080;
        margin-bottom: 10px;
        background-color: transparent;
    }
}