.beerCard {
  margin: 0 auto;
  margin-top: 10vh;
  margin-left: 2vw;
  padding: 2vh;
  width: 20vw;
  height: 60vh;
  border: none;
  background-color: #42454A;
  color: white;
  display: flex;
  flex-direction: column;
  outline: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.beerCard .image {
  margin: 0 auto;
  padding: 0px;
  width: 4.5vw;
  height: 25vh;
  align-self: center;
  background-color: transparent;
}
.beerCard .heading {
  margin: 0 auto;
  margin-top: 30px;
  font-size: 2.5em;
  color: white;
  text-transform: uppercase;
  background-color: transparent;
}
.beerCard .subheading {
  margin: 0 auto;
  margin-top: 3vh;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  background-color: transparent;
}
.beerCard .textWrapper {
  width: 20vw;
  height: 20vh;
  font-size: 1em;
  color: #808080;
  margin-bottom: 10px;
  background-color: transparent;
}